    .inputField {
  position: relative;
  margin-bottom:10px;
}

.inputField input {
  padding: 10px ;

  padding-top: 20px;
  border: 1.8px solid rgba(107, 107, 107, 0.4);
  border-radius: 2px;
  width: 145%;
  color: black;
  
}

.inputField input:focus {
  border: 1.8px solid skyblue;
  outline: none;
}

.inputField .card {
  pointer-events: none;
  opacity: 0.5;
  position: absolute;
  padding-left:14px ;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: text;
}
.inputField input:focus+span,
.inputField input:not(:placeholder-shown)+span {
  top: 7px;
  -webkit-transform: scale(0.7) translateY(-10%) translateX(-8.5px);
  transform: scale(0.7) translateY(-10%) translateX(-8.5px);
}

.inputField input,
.inputField span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  
}
/*-------------------------------------------*/

.container{
  display:flex;

}
.expire .expires {
  pointer-events: none;
  opacity: 0.5;
  position: absolute;
  padding-left: 14px ;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: text;
}
.expire {
  position: relative;

}

.expire input {
  padding: 10px ;
  padding-top: 19px;
  border: 1.8px solid rgba(107, 107, 107, 0.4);
  border-radius: 2px;
  width: 70%;
  color: black;
  
}

.expire input:focus {
  border: 1.8px solid skyblue;
  outline: none;
}


.expire input:focus+span,
.expire input:not(:placeholder-shown)+span {
  top: 7px;
  -webkit-transform: scale(0.7) translateY(-10%) translateX(-8.5px);
  transform: scale(0.7) translateY(-10%) translateX(-8.5px);
}

.expire input,
.expire span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  
}

/*-------------------------------------------*/
.card_n .csc {
  pointer-events: none;
  opacity: 0.5;
  position: absolute;
  padding-left: 14px ;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: text;
}
.card_n {
  position: relative;
  margin-left: -20px;
}

.card_n input {
  padding: 10px ;

  padding-top: 20px;
  border: 1.8px solid rgba(107, 107, 107, 0.4);
  border-radius: 2px;
  width: 92px;
  color: black;
  
}

.card_n input:focus {
  border: 1.8px solid skyblue;
  outline: none;
}

.card_n input:focus+span,
.card_n input:not(:placeholder-shown)+span {
  top: 7px;
  -webkit-transform: scale(0.7) translateY(-10%) translateX(-8.5px);
  transform: scale(0.7) translateY(-10%) translateX(-8.5px);
}

.card_n input,
.card_n span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  
}
  
/*--------------------EMAIL-----------------------*/

.ifield .email {
  pointer-events: none;
  opacity: 0.5;
  position: absolute;
  padding-left: 14px ;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: text;
}
.ifield {
  position: relative;
  margin-top: 10px;
}

.ifield input {
  padding: 10px ;

  padding-top: 20px;
  border: 1.8px solid rgba(107, 107, 107, 0.4);
  border-radius: 2px;
  width: 145%;
  color: black;
  
}

.ifield input:focus {
  border: 1.8px solid skyblue;
  outline: none;
}

.ifield input:focus+span,
.ifield input:not(:placeholder-shown)+span {
  top: 7px;
  -webkit-transform: scale(0.7) translateY(-10%) translateX(-8.5px);
  transform: scale(0.7) translateY(-10%) translateX(-8.5px);
}

.ifield input,
.ifield span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  
}
/*--------------------EMAIL-----------------------*/
.infield .search {
  pointer-events: none;
  opacity: 0.5;
  position: absolute;
  padding-left: 14px ;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: text;
}
.infield {
  position: relative;
  margin-top: 10px;
}

.infield input {
  padding: 10px ;

  padding-top: 20px;
  border: 1.8px solid rgba(107, 107, 107, 0.4);
  border-radius: 2px;
  width: 14%;
  color: black;
  
}

.infield input:focus {
  border: 1.8px solid skyblue;
  outline: none;
}

.infield input:focus+span,
.infield input:not(:placeholder-shown)+span {
  top: 7px;
  -webkit-transform: scale(0.7) translateY(-10%) translateX(-8.5px);
  transform: scale(0.7) translateY(-10%) translateX(-8.5px);
}

.infield input,
.infield span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  
}
