body {
    font-family: 'Saira Semi Condensed', sans-serif;
  padding:30px;
}
.popup-link{
  display:flex;
  flex-wrap:wrap;
}

.popup-link a{ /*button*/
    background: #333;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    font-size:17px;
    cursor:pointer;
    margin:20px;
    text-decoration:none;
}
 
.popup-container { /*poop up thing*/
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(0.5);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    /* background-color: rgba(21, 17, 17, 0.61); */
    align-items: center;
}
.popup-content { /*poop up thing*/
    background-color: #fefefe;
    margin:10px 10px 10px 100px;
    padding: 20px;

    width: 20%;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    float: right;
    
}
.popup-content p{
    font-size: 17px;
    padding: 10px;
    line-height: 20px;
}
.popup-content a.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background: none;
    padding: 0;
    margin: 0;
    text-decoration:none;
}

.popup-content a.close:hover{
  color:#333;
  
}

.popup-content span:hover,
.popup-content span:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup-container:target{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.popup-container h3{
  margin:10px;
  
}


