.p{
    display: flex;
    margin-top: 2px;
    width: 1127px;
    height: 20px;
    gap: 2px;
    margin-left: 14px;
}
.pa{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;
           
}
.pb{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.pc{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.pd{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.pe{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.pf{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.pg{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;
           
}
.ph{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;
    margin-left: 5px; 
}
.pi{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;  
         
}
.pj{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.pk{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.pl{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.pm{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.pn{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.po{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.pp{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.pq{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.pr{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black; 
    margin-left: 5px;    
}
.ps{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;  
       
}
.pt{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.pu{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.pv{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.pw{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.px{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.py{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.pz{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.paa{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}  
.pab{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;
    margin-left: 5px;      
}
.pac{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;  
          
}
.pad{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.pae{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.paf{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.pag{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.pah{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.pai{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.paj{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.pak{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.pal{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black; 
    margin-left: 5px;       
}
.pam{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;     
      
}
.pan{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.pao{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.pap{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.paq{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.par{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.pas{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.pat{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.pau{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;  
        
}
.pav{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;    
    margin-left: 313px;  
}
.paw{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.pax{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.pay{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.paz{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.paaa{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.paab{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.paac{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.paad{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}

