.n{
    display: flex;
    margin-top: 2px;
    width: 1115px;
    height: 20px;
    gap: 2px;
    margin-left: 28px;
}
.na{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;     
}
.nb{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.nc{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.nd{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.ne{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.nf{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.ng{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;
    margin-left: 5px;
           
}
.nh{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;  
}
.ni{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;  
         
}
.nj{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.nk{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.nl{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.nm{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.nn{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.no{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.np{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.nq{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;   
    margin-left: 5px;    
}
.nr{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;         
}
.ns{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;  
       
}
.nt{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.nu{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.nv{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.nw{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.nx{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.ny{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.nz{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.naa{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;
    margin-left: 5px;      
}  
.nab{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;   
}
.nac{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;  
          
}
.nad{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.nae{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.naf{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.nag{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.nah{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.nai{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.naj{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.nak{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;
    margin-left: 5px;      
}
.nal{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black; 
           
}
.nam{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;     
      
}
.nan{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.nao{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.nap{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.naq{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.nar{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.nas{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.nat{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.nau{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;  
    margin-left: 299px;    
}
.nav{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;
          
}
.naw{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.nax{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.nay{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.naz{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.naaa{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.naab{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.naac{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.naad{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
