*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


img{
  
    height: 630px;
    width: 1279px;
    margin-top: 10px;
    margin-left: px;
    
}
.z{

  position: absolute;   
  margin-left: 60px;
    height: 100%px;
    margin-top: 120px;
 
}
.buttonfc {
    text-decoration: none;
}
a{
    color: red;
}