.e{
    display: flex; 
    gap:1px;  
    margin-top: 2px;
    width: 684px;
    height: 20px;
    gap: 2px;
    margin-left: 483.5px;
    
}
.ea{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 1px solid black;
}
.eb{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.ec{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.ed{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.ee{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.ef{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black; 
    margin-left: 5px;    
}
.eg{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.eh{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;
    
}
.ei{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;  
         
}
.ej{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.ek{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.el{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.em{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.en{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.eo{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.ep{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;
    margin-left: 5px;       
}
.eq{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;        
}
.er{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;     
}
.es{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;  
       
}
.et{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.eu{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.ev{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.ew{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.ex{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.ey{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.ez{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black; 
    margin-left: 5px;      
}
.eaa{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;     
}  
.eab{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;         
}
.eac{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;  
          
}
.ead{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.eae{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.eaf{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.eag{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.eah{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.eai{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.eaj{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black; 
    margin-left: 5px;     
}
.eak{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.eal{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;        
}
.eam{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;     
      
}
.ean{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.eao{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.eap{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.eaq{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.ear{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.eas{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
