    .s{
        display: flex;
        margin-top:2px;
        width: 700px;
        height: 20px;
        gap: 2px;  
    }
    .sa{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black; 
             
    }
    .sb{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;       
    }
    .sc{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;       
    }
    .sd{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;       
    }
    .se{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;       
    }
    .sf{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;       
    }
    .sg{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;       
    }
    .sh{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;
             
    }
    .si{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;  
        margin-left: 5px;       
    }
    .sj{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;       
    }
    .sk{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;       
    }
    .sl{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;       
    }
    .sm{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;       
    }
    .sn{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;       
    }
    .so{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;       
    }
    .sp{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;       
    }
    .sq{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;       
    }
    .sr{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;       
    }
    .ss{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;  
        margin-left: 5px;       
    }
    .st{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;       
    }
    .su{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;       
    }
    .sv{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;       
    }
    .sw{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;       
    }
    .sx{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;       
    }
    .sy{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;       
    }
    .sz{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;       
    }
    .saa{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;      
    }  
    .sab{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;      
    }
    .sac{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;  
        margin-left: 5px;      
    }
    .sad{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;      
    }
    .sae{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;      
    }
    .saf{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;      
    }
    .sag{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;      
    }
    .sah{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;      
    }
    .sai{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;      
    }
    .saj{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;      
    }
    .sak{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;      
    }
    .sal{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;      
    }
    .sam{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;     
        margin-left: 5px;   
    }
    .san{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;      
    }
    .sao{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;      
    }
    .sap{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;      
    }
    .saq{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;      
    }
    .sar{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;      
    }
    .sas{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;      
    }
    .sat{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;      
    }
    .sau{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;      
    }
    .sav{
        background-color: red;
        height: 20px;
        width: 12.2px;
        border: 0.5px solid black;      
    }
    
