.r{
    display: flex;
    margin-top: 2px;    
    width: 686px;
    height: 20px;
    gap: 2px;
    margin-left: 14px; 
}
.ra{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black; 
     
}
.rb{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.rc{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.rd{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.re{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.rf{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.rg{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;
           
}
.rh{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;
    margin-left: 5px; 
}
.ri{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;  
         
}
.rj{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.rk{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.rl{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.rm{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.rn{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.ro{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.rp{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.rq{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.rr{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black; 
      margin-left: 5px;    
}
.rs{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;  
       
}
.rt{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.ru{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.rv{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.rw{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.rx{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.ry{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.rz{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.raa{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}  
.rab{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;
    margin-left: 5px;      
}
.rac{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;  
          
}
.rad{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.rae{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.raf{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.rag{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.rah{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.rai{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.raj{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.rak{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.ral{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black; 
    margin-left: 5px;       
}
.ram{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;     
      
}
.ran{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.rao{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.rap{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.raq{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.rar{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.ras{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.rat{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.rau{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
