.y{
    display: flex;
     position: absolute;
    gap: 3px;
    margin-top: 40px;
    margin-left: 164px;
    
}
.ya{
    width: 30px;
    height: 30px;
    margin-top: 1px;
    border: 1px solid black;
    background-color: green;
}
.yb{
    width: 30px;
    height: 30px;
    margin-top: 1px;
    margin-left: 30px;
    border: 1px solid black;
    background-color: red;

    }
.status{
    margin-top: 7px;
}