*{
    padding: 0;
    margin: 0;
}
.container_1{
    width: 1240px !important; 
    height: 479px !important;
    position: relative;

    padding: 0;
    margin: 0;
    margin-left: -620px !important;
    margin-top: 15px !important;
}
.child{
    width: 975px !important;  
    height: 560px !important;
    position: absolute !important;
    bottom: 0;
    margin-left: 120px !important;
    padding-top: -100px !important;
    margin-bottom: 50px !important;
}
.child-1{
    /* background-color: red; */
    width: 104px !important; 
}
.child-2,.child-3,.child-4,.child-5{
    /* background-color:green; */
    width: 130px !important;
}
.child-6, .child-7{

    width: 130px !important;
}
.child-1_1{
    position: absolute !important;
    bottom: 0 !important;
}
.child-0{
    display: flex !important;
    flex-direction: column !important;
    float: left !important;
    /* background-color: blueviolet; */
    height: 538px !important;
    position: relative !important;
}
.block{
    display: flex !important;
    flex-direction: column !important;    
}
.block-0{
    display: flex !important; 
    flex-direction: row-reverse !important;
}
.item{
    border: black solid 1px !important;
    height: 16.5px;
    width: 50px;
    text-align: center !important;
    width: 12px !important;
    
    font-size: 1ch !important;
}
.child-6, .child-7{
    height: 379px !important;
}
.item{
    margin-top: 1px !important;
    margin-left: 1px !important;
}
.child-8{
    /* background-color: brown; */
    height: 484px !important;
}

.map{
    width: 1240 !important;
    height: 479px !important;
}