.j{
    display: flex;
    margin-top: 2px;
    width: 1100px;
    height: 20px;
    gap: 2px;
    margin-left: 42.5px;
}
.ja{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 1px solid black;       
}
.jb{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.jc{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.jd{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.je{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.jf{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;  
    margin-left: 5px;     
}
.jg{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;           
}
.jh{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;
    
}
.ji{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;  
         
}
.jj{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.jk{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.jl{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.jm{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.jn{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.jo{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.jp{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black; 
    margin-left: 5px;      
}
.jq{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;        
}
.jr{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;     
}
.js{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;  
       
}
.jt{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.ju{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.jv{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.jw{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.jx{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.jy{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.jz{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;  
    margin-left: 5px;     
}
.jaa{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}  
.jab{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;         
}
.jac{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;  
          
}
.jad{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jae{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaf{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jag{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jah{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jai{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaj{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black; 
    margin-left: 5px;      
}
.jak{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;    
}
.jal{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;        
}
.jam{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;     
      
}
.jan{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jao{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jap{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaq{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jar{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jas{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jat{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;
    margin-left: 5px;      
}
.jau{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;
          
}
.jav{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaw{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jax{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jay{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaz{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaaa{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaab{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaac{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaad{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;
    margin-left: 5px;      
}
.jaae{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaaf{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaag{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaah{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaai{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaaj{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaak{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaal{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaam{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaan{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;
    margin-left: 5px;      
}
.jaao{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaap{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaaq{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaar{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaas{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaat{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaau{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaav{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.jaaw{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}