.b{
    display: flex;    
    gap:1px;  
    width: 280px;
    height: 20px;
    gap: 2px;
    margin-left: 735.5px;  
    margin-top: 2px;
}
.ba{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 1px solid black;
}
.bb{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.bc{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.bd{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.be{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.bf{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.bg{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;      
}
.bh{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;
    
}
.bi{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;  
    margin-left: 5px;     
}
.bj{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.bk{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.bl{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.bm{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.bn{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.bo{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.bp{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;       
}
.bq{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;        
}
.br{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black;     
}
.bs{
    background-color: red;
    height: 20px;
    width: 12.2px;
    border: 0.5px solid black; 
    margin-left: 5px; 
}